Debug
Release
LiveDebug
LiveRelease
App_Data
TestResults
x64
x86
bin
lib
ipch
obj
csx
*.sdf
*.opensdf
*.suo
*.user
*.log
ServiceDefinition.build.csdef
*web.config.backup*
*~
#*#
packages
VCRedistAzure
GeneratedRules
tmp
*.zip
*.pdb
*.exe
*.azurePubxml
UpgradeLog.htm